body {
    /* Define a estrutura básica de Body (reset)*/
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    overflow-y: scroll;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
#header {
    /* Título da Aplicação Web */
    margin: 0;
    color: rgb(202, 93, 93);
    background-color: rgb(255, 225, 186);
    text-align: center;
    padding: 10px;
}

#ordenar {
    /* Estiliza o span que contém 'Ordenar Por' */
    width: 100px;
    height: 50px;
    font-size: 16pt;
    background-color: rgb(231, 224, 224);
    color: rgb(84, 97, 107);
    border: 1px 1px 0 1px solid rgb(219, 212, 212);
    border-radius: 5px 5px 0 0;
    transition: 0.5s ease-in-out;
}

#ordenar:hover {
    /* Estiliza o que ocorrerá quando o usuário passar o mouse por cima de 'Ordenar Por' */
    background-color: rgb(218, 208, 208);
    border-color: rgb(179, 166, 166);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.ordenados {
    /* Estiliza o conteúdo que aparece ao clicar em 'Ordenar Por' */
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.ordenados:hover {
    /* Estiliza o que ocorrerá ao passar o mouse por cima 
    do conteúdo que aparece ao clicar em 'Ordenar Por'
    */
    font-size: 14pt;
    background-color: rgb(218, 208, 208);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
    transition: 0.5s;
}

#container-ordenacao {
    /* Estiliza a div que contém 'Ordenar Por' e seus childs */
    position: absolute;
    border: 1px solid rgb(180, 180, 180);
    border-style: none;
    border-radius: 5px;
    width: fit-content;
    height: 0;
    padding: 1px;
    margin-right: 900px;
}

#container-filtrar {
    /* Estiliza a div que contém 'Filtrar' e seus childs */
    position: absolute;
    border: 1px solid rgb(180, 180, 180);
    border-style: none;
    border-radius: 5px;
    width: fit-content;
    padding: 1px;
    height: 0;
    margin-right: 1206px;
    z-index: 10;
}
.filtrado {
    /* Estiliza o conteúdo que aparece ao clicar em Filtrar */
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}
.filtrado:hover{
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}
#filtrar {
    /* Estiliza o span que contém 'Filtrar' */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: fit-content;
    font-size: 16pt;
    background-color: rgb(231, 224, 224);
    color: rgb(84, 97, 107);
    border: 1px 1px 0 1px solid rgb(219, 212, 212);
    border-radius: 5px 5px 0 0;
    transition: 0.5s ease-in-out;
}

#filtrar:hover {
    /* Estiliza o que ocorre ao passar o mouse por cima de 'Filtrar' */
    background-color: rgb(218, 208, 208);
    border-color: rgb(179, 166, 166);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.regioes{
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}
.regioes:hover {
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169)
}
.sub-regioes {
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}
.sub-regioes:hover{
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}
.oceania{
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}
.oceania:hover{
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}
.ilhas-pacifico{
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}
.ilhas-pacifico:hover{
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}
.sub-europa{
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}
.sub-europa:hover{
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}
.sub-asia{
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}
.sub-asia:hover{
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}
.sub-america{
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}
.sub-america:hover{
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}
.sub-africa{
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}
.sub-africa:hover{
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}
.tamanho-populacao {
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.3s;
}
.tamanho-populacao:hover {
    background-color: rgb(218, 208, 208);
    border-radius: 5px;
    height: 60px;
    transition: height 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}
#inputs-position {
    /* Definir posição dos botões através de uma div */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
}

#buscar {
    /* Input de Botão para Busca */
    width: 100px;
    height: 40px;
    font-size: 10pt;
    color: rgb(69, 168, 255);
    background-color: rgb(209, 209, 200);
    border: 2px solid rgb(209, 209, 200);
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    margin-left: 3px;
}

#buscar:hover {
    /* Hover do Botão de Busca */
    color: rgb(0, 153, 255);
    font-size: 14pt;
    background-color: rgb(190, 190, 190);
    border-color: rgb(190, 190, 190);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#buscar-países {
    /* Input de Texto */
    width: 350px;
    height: 35px;
    border: 1px solid;
    font-size: 15px;
    background-color: rgb(241, 241, 241);
    border-color: rgb(201, 201, 201);
    border-radius: 5px;
}

#buscar-países::placeholder {
    /* Placeholder do Input de Texto */
    color: rgb(138, 138, 138);
    text-align: center;
}

.países {
    /* Listagem dos Países na Aplicação */
    max-width: 1240px;
    margin: 20px auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.pais-info {
    /* Informações internas da Listagem dos Países */
    border: 1px solid rgb(224, 194, 154);
    background-color: rgb(255, 225, 179);
    text-align: center;
    color: rgb(94, 0, 0);
    padding: 15px;
}

.bandeiras { /* Definição de tamanho e posição para as Bandeiras dos Países */
    width: 250px;
    height: 150px;
    margin-top: 5px;
}