body {
    /* Define a estrutura básica de Body (reset)*/
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    /* Esconde a barra de scroll */
    display: none;
}

#header {
    /* Título da Aplicação Web */
    margin: 0;
    color: rgb(202, 93, 93);
    background-color: rgb(255, 225, 186);
    text-align: center;
    padding: 10px;
}
.info-pais{
    text-align: left;
    margin-left: 20px;
}
.info-geral{
    text-align: left;
    margin-left: 60px;
}

#ordenar {
    /* Estiliza o span que contém 'Ordenar Por' */
    width: 100px;
    height: 50px;
    font-size: 16pt;
    background-color: rgb(231, 224, 224);
    color: rgb(84, 97, 107);
    border: 1px 1px 0 1px solid rgb(219, 212, 212);
    border-radius: 5px 5px 0 0;
    transition: 0.5s ease-in-out;
}

#ordenar:hover {
    /* Estiliza o que ocorrerá quando o usuário passar o mouse por cima de 'Ordenar Por' */
    background-color: rgb(218, 208, 208);
    border-color: rgb(179, 166, 166);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.ordenados {
    /* Estiliza o conteúdo que aparece ao clicar em 'Ordenar Por' */
    font-size: 12pt;
    font-weight: 600;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.ordenados:hover {
    /* Estiliza o que ocorrerá ao passar o mouse por cima 
    do conteúdo que aparece ao clicar em 'Ordenar Por'
    */
    font-size: 14pt;
    background-color: rgb(218, 208, 208);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
    transition: 0.5s;
}

.populacao {
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.populacao:hover {
    font-size: 14pt;
    background-color: rgb(218, 208, 208);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
    transition: 0.5s;
}

.area-pais {
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.area-pais:hover {
    font-size: 14pt;
    background-color: rgb(218, 208, 208);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
    transition: 0.5s;
}

#container-ordenacao {
    /* Estiliza a div que contém 'Ordenar Por' e seus childs */
    position: absolute;
    border: 1px solid rgb(180, 180, 180);
    border-style: none;
    border-radius: 5px;
    width: fit-content;
    height: 0;
    padding: 1px;
    margin-right: 470px;
    transition: 0.5s;
}

#container-filtrar {
    /* Estiliza a div que contém 'Filtrar' e seus childs */
    position: absolute;
    border: 1px solid rgb(180, 180, 180);
    border-style: none;
    border-radius: 5px;
    width: fit-content;
    padding: 1px;
    height: 0;
    margin-right: 730px;
    z-index: 10;
}

.filtrado {
    /* Estiliza o conteúdo que aparece ao clicar em Filtrar */
    font-size: 12pt;
    font-weight: 600;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.filtrado:hover {
    /* Estiliza o que aontece ao passar o mouse por cima desse conteúdo */
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}

#filtrar {
    /* Estiliza o span que contém 'Filtrar' */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: fit-content;
    font-size: 16pt;
    background-color: rgb(231, 224, 224);
    color: rgb(84, 97, 107);
    border: 1px 1px 0 1px solid rgb(219, 212, 212);
    border-radius: 5px 5px 0 0;
    transition: 0.5s ease-in-out;
}

#filtrar:hover {
    /* Estiliza o que ocorre ao passar o mouse por cima de 'Filtrar' */
    background-color: rgb(218, 208, 208);
    border-color: rgb(179, 166, 166);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#resetar {
    /* Estiliza o conteúdo de 'Resetar' */
    position: absolute;
    font-size: 16pt;
    width: 140px;
    background-color: rgb(231, 224, 224);
    color: rgb(84, 97, 107);
    border: 1px 1px 0 1px solid rgb(219, 212, 212);
    border-radius: 5px 5px 0 0;
    transition: 0.5s ease-in-out;
    padding: 1px;
    margin-left: 510px;
}

#resetar:hover {
    /* Estiliza o que ocorre ao passar o mouse por cima de 'Resetar'*/
    background-color: rgb(218, 208, 208);
    border-color: rgb(179, 166, 166);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.regioes {
    /* Estiliza o conteúdo de opção de continentes */
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.regioes:hover {
    /* Estiliza o que ocorre ao passar por cima desse conteúdo */
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169)
}

.sub-regioes {
    /* Estiliza as sub-regiões continentais */
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.sub-regioes:hover {
    /* Estiliza o que ocorre ao passar o mouse por cima do conteúdo */
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}

.oceania {
    /* Estiliza a opção oceania */
    font-size: 12pt;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.oceania:hover {
    /* Estiliza o que ocorre ao passar o mouse por esse conteúdo */
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}

.sub-europa {
    /* Estiliza a opção sub-europa */
    font-size: 12pt;
    font-weight: 600;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.sub-europa:hover {
    /* Estiliza o que ocorre ao passar o mouse por esse conteúdo */
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}

.sub-asia {
    /* Estiliza a opção sub-asia */
    font-size: 12pt;
    font-weight: 600;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.sub-asia:hover {
    /* Estiliza o que ocorre ao passar o mouse por esse conteúdo */
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}

.sub-america {
    /* Estiliza a opção sub-america */
    font-size: 12pt;
    font-weight: 600;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.sub-america:hover {
    /* Estiliza o que ocorre ao passar o mouse por esse conteúdo */
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}

.sub-africa {
    /* Estiliza a opção sub-africa */
    font-size: 12pt;
    font-weight: 600;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.5s;
}

.sub-africa:hover {
    /* Estiliza o que ocorre ao passar o mouse por esse conteúdo */
    background-color: rgb(218, 208, 208);
    font-size: 14pt;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}

.tamanho-populacao {
    /* Estiliza a opção tamanho-população */
    font-size: 12pt;
    font-weight: 600;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: rgb(231, 224, 224);
    border: 1px 1px 0 1px solid rgb(110, 96, 96);
    transition: 0.3s;
}

.tamanho-populacao:hover {
    /* Estiliza o que ocorre ao passar o mouse por esse conteúdo */
    background-color: rgb(218, 208, 208);
    border-radius: 5px;
    height: 60px;
    transition: height 0.5s;
    cursor: pointer;
    border: 1px solid rgb(180, 169, 169);
}

#inputs-position {
    /* Definir posição dos botões através de uma div */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
}

#buscar-países {
    /* Input de Texto */
    width: 350px;
    height: 35px;
    border: 1px solid;
    font-size: 15px;
    background-color: rgb(241, 241, 241);
    border-color: rgb(201, 201, 201);
    border-radius: 5px;
}

#buscar-países::placeholder {
    /* Placeholder do Input de Texto */
    color: rgb(138, 138, 138);
    text-align: center;
}

.países {
    /* Listagem dos Países na Aplicação */
    max-width: 1450px;
    margin: 20px auto;
    margin-bottom: 5px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.pais-info {
    /* Informações internas da Listagem dos Países */
    border: 1px solid rgb(224, 194, 154);
    border-radius: 5px;
    background-color: rgb(255, 225, 179);
    text-align: center;
    color: rgb(94, 0, 0);
    padding: 15px;
    transition: 0.5s;
}

.pais-info:hover {
    /* Estiliza o que ocorre ao passar o mouse por esse conteúdo */
    background-color: rgb(255, 207, 135);
    color: rgb(63, 15, 15);
    cursor: pointer;
    transition: 0.5s;
}

.país {
    /* Estiliza a div do país listado em 'pais.html' */
    max-width: 1240px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.pais-unico {
    /* Estiliza o país listado em 'pais.html' */
    border: 1px solid rgb(224, 194, 154);
    width: 368px;
    border-radius: 5px;
    background-color: rgb(255, 225, 179);
    text-align: center;
    color: rgb(94, 0, 0);
    padding: 15px;
}

#voltar {
    /* Estiliza o botão de voltar em 'país.html' */
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(231, 224, 224);
    color: rgb(84, 97, 107);
    margin: 10px auto;
    transition: 0.5s;
}

#voltar:hover {
    /* Estiliza o que ocorre ao passar o mouse por cima de 'Voltar' */
    background-color: rgb(218, 208, 208);
    border-color: rgb(179, 166, 166);
    transition: 0.5s;
}

a {
    /* Estiliza o link de redirecionamento */
    display: flex;
    width: 380px;
    height: 50px;
    font-size: 14pt;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 224, 224);
    color: rgb(84, 97, 107);
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    /* Estiliza o que ocorre ao passar o mouse por cima do link redirecionamento */
    font-size: 18pt;
    background-color: rgb(218, 208, 208);
    border-color: rgb(179, 166, 166);
    transition: 0.5s;
}

.bandeiras {
    /* Definição de tamanho e posição para as Bandeiras dos Países */
    width: 250px;
    height: 150px;
    margin-top: 5px;
}

.paginas {
    /* Estiliza a div que contém o botão anterior, próximo e a quantidade de páginas */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.paginas span {
    /* Estiliza a quantidade de páginas */
    color: rgb(94, 0, 0);
    font-weight: 700;
}

.paginas button {
    /* Estiliza o botão anterior e próximo */
    font-size: 18pt;
    margin-top: 0;
    margin: 10px;
    width: 500px;
    height: 50px;
    background-color: rgb(209, 209, 200);
    border: 1px solid rgb(209, 209, 200);
    border-radius: 5px;
    color: rgb(84, 97, 107);
    transition: 0.5s;
}

.paginas button:hover {
    /* Estiliza o que ocorre ao passar o mouse por cima dos botões */
    background-color: rgb(190, 190, 190);
    border-color: rgb(190, 190, 190);
    color: rgb(67, 77, 85);
    cursor: pointer;
    transition: 0.5s;
}

/* Abaixo estão as funções de responsividade */

/* Responsivo para Laptop */
@media (min-width: 1024px) and (max-width: 1440px) {
    .países {
        max-width: 1000px;
        transition: 0.5s;
    }

    #ordenar {
        font-size: 15pt;
        transition: 0.5s;
    }

    #container-ordenacao {
        margin-right: 460px;
        transition: 0.5s;
    }

    .ordenados {
        font-size: 11pt;
        width: 100px;
        transition: 0.5s;
    }

    .ordenados:hover {
        font-size: 11pt;
        transition: 0.5s;
    }

    .populacao {
        font-size: 11pt;
        width: 100px;
        transition: 0.5s;
    }

    .area-pais {
        font-size: 11pt;
        width: 100px;
        transition: 0.5s;
    }

    #container-filtrar {
        margin-right: 710px;
        transition: 0.5s;
    }

    #resetar {
        margin-left: 510px;
    }

    .paginas {
        justify-content: center;
        transition: 0.5s;
    }
}

/* Responsivo para Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

    .países {
        max-width: 750px;
        grid-template-columns: repeat(2, 1fr);
        transition: 0.5s;
    }
    .info-pais{
        text-align: left;
        margin-left: 45px;
        transition: 0.5s;
    }

    #ordenar {
        font-size: 15pt;
        transition: 0.5s;
    }

    #container-ordenacao {
        margin-right: 460px;
        transition: 0.5s;
    }

    .ordenados {
        font-size: 11pt;
        width: 100px;
        transition: 0.5s;
    }

    .ordenados:hover {
        font-size: 11pt;
        transition: 0.5s;
    }

    .populacao {
        font-size: 11pt;
        width: 100px;
        transition: 0.5s;
    }

    .area-pais {
        font-size: 11pt;
        width: 100px;
        transition: 0.5s;
    }

    #container-filtrar {
        margin-right: 710px;
        transition: 0.5s;
    }

    #resetar {
        margin-left: 505px;
        transition: 0.5s;
    }

    .paginas {
        justify-content: center;
        transition: 0.5s;
    }
}

/* Responsivo para mobile (do menor possível) */
@media (min-width: 320px) and (max-width: 768px) {
    #header {
        font-size: 14pt;
        align-items: center;
        transition: 0.5s;
    }

    .país {
        max-width: 300px;
        transition: 0.5s;
    }
    .info-pais{
        text-align: left;
        margin-left: 10px;
    }
    .info-geral{
        text-align: left;
        margin-left: 35px;
    }
    a {
        width: 280px;
        transition: 0.5s;
    }

    #form input {
        display: flex;
        width: 150px;
        margin-top: 2px;
        margin-right: 150px;
        transition: 0.5s;
    }

    .países {
        max-width: 300px;
        grid-template-columns: repeat(1, 1fr);
        transition: 0.5s;
    }


    .ordenados {
        font-size: 11pt;
        width: 100px;
        transition: 0.5s;
    }

    .ordenados:hover {
        font-size: 11pt;
        transition: 0.5s;
    }

    .filtrado {
        font-size: 11pt;
        width: 200px;
        transition: 0.5s;
    }

    .regioes {
        width: 200px;
    }

    .sub-regioes {
        font-size: 11pt;
        width: 200px;
    }

    .sub-regioes:hover {
        font-size: 11pt;
    }

    .sub-america {
        width: 200px;
    }

    .sub-africa {
        width: 200px;
    }

    .sub-europa {
        width: 200px;
    }

    .sub-asia {
        width: 200px;
    }

    .oceania {
        width: 200px;
    }

    .tamanho-populacao {
        font-size: 10pt;
        width: 200px;
    }

    .populacao {
        font-size: 11pt;
        width: 200px;
        transition: 0.5s;
    }

    .area-pais {
        font-size: 14pt;
        width: 100px;
        transition: 0.5s;
    }

    #container-filtrar {
        margin-top: 45px;
        margin-right: -100px;
        transition: 0.5s;
    }

    #container-ordenacao {
        margin-top: 45px;
        margin-right: 200px;
        transition: 0.5s;
    }

    #filtrar {
        font-size: 14pt;
        width: 200px;
    }

    #resetar {
        width: 140px;
        margin-top: 5px;
        margin-left: 160px;
        transition: 0.5s;
    }

    #ordenar {
        font-size: 14pt;
        width: 200px;
        transition: 0.5s;
    }

    .paginas {
        justify-content: center;
        transition: 0.5s;
    }
}